body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: right;
}

.container {
    text-align: center;
    padding: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#result p {
    margin: 10px 0;
}

